/* AppHeader.module.css */
.header {
  background: var(--interface-modal-bg);
  width: 100%;
  height: 90px;
}

.header-flex {
  display: flex;
  align-items: center;
}

.wrapper {
  composes: header-flex;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
}

.navWrapper {
  composes: header-flex;
  gap: 135px;
}

.navMenu {
  composes: header-flex;
  gap: 8px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  transition: background 0.3s ease;
}

.link:hover {
  background: var(--text-disabled);
}
